---
# .github/workflows/build-conda.yml
name: Build and Upload Conda Package
on:
  push:
    branches: [master]
  # pull_request:
  #   types: [opened, synchronize, reopened]
  workflow_dispatch:
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Get latest version from master
        run: |
          echo "Fetching latest tag..."
          LATEST_TAG=$(git ls-remote --tags origin | cut -f2 | sed 's#refs/tags/##' | tr -d 'vV' | sort -V | tail -n1)
          echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV
      - name: Get the branch name for version
        if: github.event_name == 'workflow_dispatch' && github.ref != 'refs/heads/master'
        run: |
          echo "Branch name: ${{ github.ref_name }}..."
          echo "LATEST_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
      - name: Get latest commit SHA from master
        run: |
          echo "Fetching latest commit on master branch..."
          COMMIT_SHA=$(git ls-remote origin refs/heads/master | cut -f1)
          echo "COMMIT_SHA=$COMMIT_SHA" >> $GITHUB_ENV
      - name: Get latest commit SHA from branch
        if: github.event_name == 'workflow_dispatch' && github.ref != 'refs/heads/master'
        run: |
          echo "Fetching latest commit on branch: ${{ github.ref_name }}..."
          COMMIT_SHA=$(git ls-remote origin ${{ github.ref }} | cut -f1)
          echo "COMMIT_SHA=$COMMIT_SHA" >> $GITHUB_ENV
      - name: Update recipe.yaml with latest rev and version
        run: |
          echo "Updating recipe.yaml with commit: $COMMIT_SHA and tag: $LATEST_TAG"

          # Replace the literal 'rev:' line under source:
          sed -i "s|^\(\s*rev:\s*\).*|\1$COMMIT_SHA|" ./conda.recipe/recipe.yaml

          # Replace the literal 'version:' line under context:
          sed -i "s|^\(\s*version:\s*\).*|\1$LATEST_TAG|" ./conda.recipe/recipe.yaml
      - name: Build conda package
        uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          build-args: -c khanlab -c conda-forge
      - name: Upload package to Khanlab channel
        shell: bash
        env:
          BINSTAR_TOKEN: ${{ secrets.ANACONDA_UPLOAD_TOKEN }}
        run: |
          shopt -s nullglob

          export ANACONDA_API_KEY=$BINSTAR_TOKEN

          EXIT_CODE=0
          for pkg in $(find output -type f \( -name "*.conda" -o -name "*.tar.bz2" \) ); do
            if ! rattler-build upload anaconda --owner khanlab "${pkg}" --force; then
              EXIT_CODE=1
            fi
          done
          exit $EXIT_CODE